/data/*
/temp/*
/outputs/*
/_archive/*

/figs/*
*.html
divergence_pipeline/scripts/*
divergence_pipeline/temp/*
divergence_pipeline/outputs/*
divergence_pipeline/*.txt

dl_pipeline/logs/*
dl_pipeline/checkpoints/*
dl_pipeline/results/*

*.pyc
*.out
*.txt